#main-logo {
  margin: 0 0 7px 0;
}
#myData {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  width: 18rem;
  margin: 20px;
  min-width: 200px;
}

label {
  margin: 16px 0 16px 0;
}
.form-group {
  margin: auto;
  width: 270px;
}
#edit_wallet .form-group {
  margin: auto;
  width: 870px;
}
#contact .form-group {
  margin: auto;
  width: 400px;
}
#global-wallet .card {
  margin: auto;
  width: 80%;
}
#wallet_total {
  margin: auto;
  width: 98%;
}
