#main-logo {
  margin: 0 0 7px 0;
}
#myData {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  width: 18rem;
  margin: 20px;
  /* min-width: 200px; */
}
label {
  margin: 16px 0 16px 0;
}
.form-t1 {
  margin: auto;
  width: 400px;
}
.form-t2 {
  margin: auto;
  width: 870px;
}
#contact .form-group {
  margin: auto;
  width: 400px;
}
#global-wallet .card {
  margin: auto;
  width: 80%;
  width: 44rem;
}
#wallet_total {
  margin: auto;
  width: 98%;
}
#addWalletIcon {
  margin: 40px 0 40px 0;
}

