#main-logo {
  margin: 0 0 7px 0;
}
#myData {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  width: 18rem;
  margin: 20px;
  /* min-width: 200px; */
}
form {
  margin: 70px 0 0 0;
}
.userForm {
  display: table;
  margin: auto;
}
.userForm label {
  display: table-cell;
}
.userForm input {
  display: table-cell;
  width: 300px;
}
.userForm .submit {
  width: 120px;
  margin: auto;
  align-items: center;
}
.walletForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-content: center;
}
.walletForm .container {
  width: 40%;
}
.walletForm h4 {
  margin: auto;
}
.walletForm .coinsContainer {
  width: 70%;
  margin: auto;
}
#editAddCoins .container {
  display: flex;
  justify-content: center;
  align-content: center;
}
#editAddCoins p {
  margin: auto;
}
#addCoinsOnEditContainer {
  display: none;
  width: 70%;
  margin: auto;
  padding: 20px;
  
}
#addCoinsOnEditContainer .custom-control {
  margin: 15px;
}
.walletForm .submit {
  width: 130px;
  margin: auto;
}
#global-wallet .card {
  margin: auto;
  width: 80%;
  width: 44rem;
}
#wallet_total {
  margin: auto;
  width: 98%;
}
#addWalletIcon {
  margin: 40px;
}

#createWalletContainter {
  width: 60%;
  margin: auto;
}
#createWalletContainer .custom-control {
  width: 50em;
}


