#main-logo {
  margin: 0 0 7px 0;
}
#x-title {
  color: #69a8ec;
}

.nav {
  background-color: #e3f2fd;
}
#home-cards {
  width: 80%;
  margin: auto;
}
.card {
  width: 30rem;
  margin: 4px;
}
.card-text {
  font-size: 0.9em;
}
.card-select {
  width: 80%;
  height: 10px;
}
label {
  margin: 16px 0 16px 0;
}
.form-group {
  margin: auto;
  width: 270px;
}
#edit_wallet .form-group {
  margin: auto;
  width: 870px;
}
#contact .form-group {
  margin: auto;
  width: 400px;
}
#global-wallet .card {
  margin: auto;
  width: 80%;
}
#wallet_total {
  margin: auto;
  width: 98%;
}
